{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "@src": "./src",
        "@test": "./test"
      }
    }]
  ],
  "env": {
    "test": {},
    "dev": {},
  }
}